.icon { display: inline-block; background-image: url(~sprite.png); background-size: 304px 230px;}
.icon-button-modify { width: 42px; height: 36px; background-position: 0px -145px;}
.icon-commend-close { width: 44px; height: 44px; background-position: -210px -60px;}
.icon-coupon-back { width: 12px; height: 20px; background-position: -107px -145px;}
.icon-coupon-close { width: 55px; height: 55px; background-position: -145px -60px;}
.icon-coupon-rule { width: 23px; height: 23px; background-position: -52px -145px;}
.icon-coupon-used { width: 135px; height: 135px; background-position: 0px 0px;}
.icon-graphic-code { width: 37px; height: 39px; background-position: -264px -60px;}
.icon-phone { width: 37px; height: 39px; background-position: 0px -191px;}
.icon-right-arrow { width: 12px; height: 22px; background-position: -85px -145px;}
.icon-rule-bg { width: 159px; height: 50px; background-position: -145px 0px;}
.icon-sms-code { width: 37px; height: 39px; background-position: -47px -191px;}