.home-order {
  background: #FFF;
  border-radius: 4px;
  margin-top: 20px;
  padding: 20px;
}

.home-order__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(213,213,213,.5);
  height: 40px;
  overflow: hidden;
}