.icon { display: inline-block; background-image: url(./assets/images/sprite.png); background-size: 39px 21.333333333333332px;}
.icon-menu-collapse { width: 21.333333333333332px; height: 21.333333333333332px; background-position: 0px 0px;}
.icon-tip { width: 16px; height: 16px; background-position: -23px 0px;}